In this notebook we will take a dive into the costs and profits of all our orders. We will see, which products are the most profitable and which ones should, perhaps, be taken of the list.   
Among others, we will see:
- which product categories are ordered most often;
- which product categories are most often cancelled or possibli fraudulant;
- which products in each category bring in the most and the least profit;
- how do the customers types differ in the things they order;
- on which categories and which products is the company losing the most;
- what are the most and least expensive products;
- which categories are the most and least expensive, and averages, distribution of prices, kurtosis;
- which categories are the most discounted ones;
- how many sales are made per customer and it's total;
-

In [1]:
import pandas as pd
df = pd.read_parquet('data/supply_chain_df_cleaned.parquet')
df.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Category Id,Customer City,Customer Country,Customer Id,Customer Segment,...,Order State,Order Status,Product Card Id,Product Price,Shipping Mode,Shipping time,Shipping day,Order time,Order day,Target shipping days
0,DEBIT,3,4,91.25,314.64,73,Caguas,Puerto Rico,20755,Consumer,...,Java Occidental,COMPLETE,1360,327.75,Standard Class,2023-08-28 22:56:00,Friday,2023-08-28 22:56:00,Wednesday,-1
1,TRANSFER,5,4,-249.09,311.36,73,Caguas,Puerto Rico,19492,Consumer,...,Rajastán,PENDING,1360,327.75,Standard Class,2023-08-28 12:27:00,Thursday,2023-08-28 12:27:00,Saturday,1
2,CASH,4,4,-247.78,309.72,73,San Jose,EE. UU.,19491,Consumer,...,Rajastán,CLOSED,1360,327.75,Standard Class,2023-08-28 12:06:00,Wednesday,2023-08-28 12:06:00,Saturday,0
3,DEBIT,3,4,22.86,304.81,73,Los Angeles,EE. UU.,19490,Home Office,...,Queensland,COMPLETE,1360,327.75,Standard Class,2023-08-28 11:45:00,Tuesday,2023-08-28 11:45:00,Saturday,-1
4,PAYMENT,2,4,134.21,298.25,73,Caguas,Puerto Rico,19489,Corporate,...,Queensland,PENDING_PAYMENT,1360,327.75,Standard Class,2023-08-28 11:24:00,Monday,2023-08-28 11:24:00,Saturday,-2